<%= form_for @professional_attention_mode do |f| %>
	<% if @professional_attention_mode.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@professional_attention_mode.errors.count, "error") %> prohibido guardar Professional Attention Mode:</h2>
			<ul>
			<% @professional_attention_mode.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<p>
		<%= f.label :professional_id %><br />
		<%= f.text_field :professional_id %>
	</p>
	<p>
		<%= f.label :attention_mode_id %><br />
		<%= f.collection_select :attention_mode_id, AttentionMode.all, :id, :name %>
	</p>
	<p><%= f.submit %></p>
<% end %>
