<%= form_for @care_type_detail do |f| %>
	<% if @care_type_detail.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@care_type_detail.errors.count, "error") %> prohibido guardar Care Type Detail:</h2>
			<ul>
			<% @care_type_detail.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<table class="data" style="width:100%" >
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :name %></strong></td>
			<td style="width:70%">
				<%= f.text_field :name %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :code %></strong></td>
			<td style="width:70%">
				<%= f.text_field :code %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :care_type_id %></strong></td>
			<td style="width:70%">
				<%= f.collection_select :care_type_id, CareType.all, :id, :name %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :nomenclature_synonym_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :nomenclature_synonym_id %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :medication_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :medication_id %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :disposable %></strong></td>
			<td style="width:70%">
				<%= f.text_field :disposable %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :amount %></strong></td>
			<td style="width:70%">
				<%= f.text_field :amount %>
			</td>
		</tr>
	</table>
	<p><%= f.submit %></p>
<% end %>
