<h1>Care Type Details</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Code</th>
		<th>Care Type</th>
		<th>Nomenclature Synonym</th>
		<th>Medication</th>
		<th>Disposable</th>
		<th>Amount</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% for care_type_detail in @care_type_details %>
		<tr>
			<td><%= care_type_detail.name %></td>
			<td><%= care_type_detail.code %></td>
			<td><%= care_type_detail.care_type_id %></td>
			<td><%= care_type_detail.nomenclature_synonym_id %></td>
			<td><%= care_type_detail.medication_id %></td>
			<td><%= care_type_detail.disposable %></td>
			<td><%= care_type_detail.amount %></td>
            <td><a href="/care_type_details/<%= care_type_detail.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/care_type_details/<%= care_type_detail.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/care_type_details/<%= care_type_detail.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Care Type Detail", new_care_type_detail_path %></p>
