<h1>Especialidad por Nomenclador</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Specialty:</strong></td>
		<td style="width:70%"><%= @specialty_nomenclature.specialty_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Name:</strong></td>
		<td style="width:70%"><%= @specialty_nomenclature.name %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Service:</strong></td>
		<td style="width:70%"><%= @specialty_nomenclature.service_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Nomenclature:</strong></td>
		<td style="width:70%"><%= @specialty_nomenclature.nomenclature_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Ambulatory Or Internship:</strong></td>
		<td style="width:70%"><%= @specialty_nomenclature.ambulatory_or_internship %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_specialty_nomenclature_path(@specialty_nomenclature) %> |
	<%= link_to "Eliminar", @specialty_nomenclature, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Especialidades por Nomenclador", specialty_nomenclatures_path %>
</p>
