<%= form_for @patient_health_insurance do |f| %>
	<% if @patient_health_insurance.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@patient_health_insurance.errors.count, "error") %> prohibido guardar patient_health_insurance:</h2>

		<ul>
		<% @patient_health_insurance.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
		</div>
	<% end %>
	<p>
		<%= f.label :patient_id %><br />
		<%= f.text_field :patient_id %>
	</p>
	<p>
		<%= f.label :code %><br />
		<%= f.text_field :code %>
	</p>
	<p>
		<%= f.label :health_insurance_id %><br />
		<%= f.collection_select :health_insurance_id, HealthInsurance.all, :id, :name %>
	</p>
	<p>
		<%= f.label :health_insurance_plan_id %><br />
		<%= f.collection_select :health_insurance_plan_id, HealthInsurancePlan.all, :id, :name, :include_blank => 'Sin datos' %>
	</p>
	<p>
		<%= f.label :affiliate_number %><br />
		<%= f.text_field :affiliate_number %>
	</p>
	<p><%= f.submit %></p>
<% end %>
