<h1>Pacientes Obra Social</h1>

<table>
	<tr>
		<th>Patient</th>
		<th>Code</th>
		<th>Health Insurance</th>
		<th>Health Insurance Plan</th>
		<th>Affiliate Number</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% for patient_health_insurance in @patient_health_insurances %>
		<tr>
			<td><%= patient_health_insurance.patient_id %></td>
			<td><%= patient_health_insurance.code %></td>
			<td><%= patient_health_insurance.health_insurance_id %></td>
			<td><%= patient_health_insurance.health_insurance_plan_id %></td>
			<td><%= patient_health_insurance.affiliate_number %></td>
            <td><a href="/patient_health_insurances/<%= patient_health_insurance.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/patient_health_insurances/<%= patient_health_insurance.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/patient_health_insurances/<%= patient_health_insurance.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nueva Paciente Obra Social", new_patient_health_insurance_path %></p>
