<h1>Patient Health Insurance</h1>
<p>
	<strong>Patient:</strong>
	<%= @patient_health_insurance.patient_id %>
</p>
<p>
	<strong>Code:</strong>
	<%= @patient_health_insurance.code %>
</p>
<p>
	<strong>Health Insurance:</strong>
	<%= @patient_health_insurance.health_insurance_id %>
</p>
<p>
	<strong>Health Insurance Plan:</strong>
	<%= @patient_health_insurance.health_insurance_plan_id %>
</p>
<p>
	<strong>Affiliate Number:</strong>
	<%= @patient_health_insurance.affiliate_number %>
</p>
<p>
	<%= link_to "Editar", edit_patient_health_insurance_path(@patient_health_insurance) %> |
	<%= link_to "Eliminar", @patient_health_insurance, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Patient Health Insurances", patient_health_insurances_path %>
</p>
