<%= form_for @care_type do |f| %>
	<% if @care_type.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@care_type.errors.count, "error") %> prohibido guardar Care Type:</h2>
			<ul>
			<% @care_type.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<table class="data" style="width:100%" >
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :name %></strong></td>
			<td style="width:70%">
				<%= f.text_field :name %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :code %></strong></td>
			<td style="width:70%">
				<%= f.text_field :code %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :specialty_id %></strong></td>
			<td style="width:70%">
				<%= f.collection_select :specialty_id, Specialty.all, :id, :name, :include_blank => 'Sin datos' %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :user_message %></strong></td>
			<td style="width:70%">
				<%= f.text_field :user_message %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :print_message %></strong></td>
			<td style="width:70%">
				<%= f.text_field :print_message %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :need_form %></strong></td>
			<td style="width:70%">
				<%= f.check_box :need_form %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :default %></strong></td>
			<td style="width:70%">
				<%= f.check_box :default %>
			</td>
		</tr>
	</table>
	<p><%= f.submit %></p>
<% end %>
