<h1>Care Type</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Name:</strong></td>
		<td style="width:70%"><%= @care_type.name %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Code:</strong></td>
		<td style="width:70%"><%= @care_type.code %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Specialty:</strong></td>
		<td style="width:70%"><%= @care_type.specialty_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>User Message:</strong></td>
		<td style="width:70%"><%= @care_type.user_message %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Print Message:</strong></td>
		<td style="width:70%"><%= @care_type.print_message %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Need Form:</strong></td>
		<td style="width:70%"><%= @care_type.need_form %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Default:</strong></td>
		<td style="width:70%"><%= @care_type.default %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_care_type_path(@care_type) %> |
	<%= link_to "Eliminar", @care_type, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Care Types", care_types_path %>
</p>
