<%= form_for @professional do |f| %>
	<% if @professional.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@professional.errors.count, "error") %> prohibido guardar professional:</h2>

		<ul>
		<% @professional.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
		</div>
	<% end %>
	<p>
		<%= f.label :person_id %><br />
		<%= f.text_field :person_id %>
	</p>
	<p>
		<%= f.label :code %><br />
		<%= f.text_field :code %>
	</p>
	<p>
		<%= f.label :national_enrollment %><br />
		<%= f.text_field :national_enrollment %>
	</p>
	<p>
		<%= f.label :state_enrollment %><br />
		<%= f.text_field :state_enrollment %>
	</p>
	<p>
		<%= f.label :relationship_work %><br />
		<%= f.check_box :relationship_work %>
	</p>
	<p>
		<%= f.label :schedule_appointments %><br />
		<%= f.check_box :schedule_appointments %>
	</p>
	<p>
		<%= f.label :on_demand_appointments %><br />
		<%= f.check_box :on_demand_appointments %>
	</p>
	<p>
		<%= f.label :own %><br />
		<%= f.check_box :own %>
	</p>
	<p><%= f.submit %></p>
<% end %>
