<h1>Professional</h1>
<p>
	<strong>Person:</strong>
	<%= @professional.person_id %>
</p>
<p>
	<strong>Code:</strong>
	<%= @professional.code %>
</p>
<p>
	<strong>National Enrollment:</strong>
	<%= @professional.national_enrollment %>
</p>
<p>
	<strong>State Enrollment:</strong>
	<%= @professional.state_enrollment %>
</p>
<p>
	<strong>Relationship Work:</strong>
	<%= @professional.relationship_work %>
</p>
<p>
	<strong>Schedule Appointments:</strong>
	<%= @professional.schedule_appointments %>
</p>
<p>
	<strong>On Demand Appointments:</strong>
	<%= @professional.on_demand_appointments %>
</p>
<p>
	<strong>Own:</strong>
	<%= @professional.own %>
</p>
<p>
	<%= link_to "Editar", edit_professional_path(@professional) %> |
	<%= link_to "Eliminar", @professional, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Professionals", professionals_path %>
</p>
