<%= form_for @person do |f| %>
	<% if @person.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@person.errors.count, "error") %> prohibido guardar Persona:</h2>
			<ul>
			<% @person.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<p>
		<%= f.label :code %><br />
		<%= f.text_field :code %>
	</p>
	<p>
		<%= f.label :last_name %><br />
		<%= f.text_field :last_name %>
	</p>
	<p>
		<%= f.label :sure_name %><br />
		<%= f.text_field :sure_name %>
	</p>
	<p>
		<%= f.label :sex %><br />
		<%= f.text_field :sex %>
	</p>
	<p>
		<%= f.label :birthday %><br />
		<%= f.text_field :birthday %>
	</p>
	<p>
		<%= f.label :deathday %><br />
		<%= f.text_field :deathday %>
	</p>
	<p>
		<%= f.label :web_site %><br />
		<%= f.text_field :web_site %>
	</p>
	<p>
		<%= f.label :document_number %><br />
		<%= f.text_field :document_number %>
	</p>
	<p>
		<%= f.label :document_type_id %><br />
		<%= f.collection_select :document_type_id, DocumentType.all, :id, :name %>
	</p>
	<p>
		<%= f.label :marital_status_id %><br />
		<%= f.collection_select :marital_status_id, MaritalStatus.all, :id, :name, :include_blank => 'Sin datos' %>
	</p>
	<p>
		<%= f.label :created_user_id %><br />
		<%= f.text_field :created_user_id %>
	</p>
	<p>
		<%= f.label :updated_user_id %><br />
		<%= f.text_field :updated_user_id %>
	</p>
	<p>
		<%= f.label :notes %><br />
		<%= f.text_field :notes %>
	</p>
	<p><%= f.submit %></p>
<% end %>
