<h1>Personas</h1>

<table>
	<tr>
		<th>Code</th>
		<th>Last Name</th>
		<th>Sure Name</th>
		<th>Sex</th>
		<th>Birthday</th>
		<th>Deathday</th>
		<th>Web Site</th>
		<th>Document Number</th>
		<th>Document Type</th>
		<th>Marital Status</th>
		<th>Created User</th>
		<th>Updated User</th>
		<th>Notes</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% for person in @people %>
		<tr>
			<td><%= person.code %></td>
			<td><%= person.last_name %></td>
			<td><%= person.sure_name %></td>
			<td><%= person.sex %></td>
			<td><%= person.birthday %></td>
			<td><%= person.death_day %></td>
			<td><%= person.web_site %></td>
			<td><%= person.document_number %></td>
			<td><%= person.document_type_id %></td>
			<td><%= person.marital_status_id %></td>
			<td><%= person.created_user_id %></td>
			<td><%= person.updated_user_id %></td>
			<td><%= person.notes %></td>
            <td><a href="/people/<%= person.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/people/<%= person.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/people/<%= person.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nueva Persona", new_person_path %></p>
