<h1>Estados Civiles</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Code</th>
		<th>Default</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% for marital_status in @marital_statuses %>
		<tr>
			<td><%= marital_status.name %></td>
			<td><%= marital_status.code %></td>
			<td><%= check_box_tag "eula", marital_status.default, marital_status.default, :disabled => true %></td>
			<td><%= link_to "Ver", marital_status %></td>
			<td><%= link_to "Editar", edit_marital_status_path(marital_status) %></td>
			<td><%= link_to "Eliminar", marital_status, :confirm => 'Esta seguro?', :method => :delete %></td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Estado Civil", new_marital_status_path %></p>
