<h1>Tipos de Email</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Code</th>
		<th>Default</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% for email_type in @email_types %>
		<tr>
			<td><%= email_type.name %></td>
			<td><%= email_type.code %></td>
			<td><%= check_box_tag "eula", email_type.default, email_type.default, :disabled => true %></td>
            <td><a href="/email_types/<%= email_type.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/email_types/<%= email_type.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/email_types/<%= email_type.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Tipo de Email", new_email_type_path %></p>
