<h1>Tipos de Email</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Code</th>
		<th>Default</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% for email_type in @email_types %>
		<tr>
			<td><%= email_type.name %></td>
			<td><%= email_type.code %></td>
			<td><%= check_box_tag "eula", email_type.default, email_type.default, :disabled => true %></td>
			<td><%= link_to "Ver", email_type %></td>
			<td><%= link_to "Editar", edit_email_type_path(email_type) %></td>
			<td><%= link_to "Eliminar", email_type, :confirm => 'Esta seguro?', :method => :delete %></td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Tipo de Email", new_email_type_path %></p>
