<h1>Professional Validation</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Professional:</strong></td>
		<td style="width:70%"><%= @professional_validation.professional_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Valid Since:</strong></td>
		<td style="width:70%"><%= @professional_validation.valid_since %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Valid Until:</strong></td>
		<td style="width:70%"><%= @professional_validation.valid_until %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_professional_validation_path(@professional_validation) %> |
	<%= link_to "Eliminar", @professional_validation, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Professional Validations", professional_validations_path %>
</p>
