<%= form_for @tuning do |f| %>
	<% if @tuning.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@tuning.errors.count, "error") %> prohibido guardar tuning:</h2>
			<ul>
			<% @tuning.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :content %><br />
		<%= f.text_field :content %>
	</p>
	<p><%= f.submit %></p>
<% end %>
