<h1>Phone Types</h1>

<table>
	<tr>
		<th>Company</th>
		<th>Name</th>
		<th>Code</th>
		<th>Default</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% for phone_type in @phone_types %>
		<tr>
			<td><%= phone_type.company_id %></td>
			<td><%= phone_type.name %></td>
			<td><%= phone_type.code %></td>
			<td><%= phone_type.default %></td>
			<td><%= link_to "Ver", phone_type %></td>
			<td><%= link_to "Editar", edit_phone_type_path(phone_type) %></td>
			<td><%= link_to "Eliminar", phone_type, :confirm => 'Esta seguro?', :method => :delete %></td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Phone Type", new_phone_type_path %></p>
