<h1>Professional Schedulers</h1>

<table>
	<tr>
		<th>Professional</th>
		<th>Specialty</th>
		<th>D1</th>
		<th>D2</th>
		<th>D3</th>
		<th>D4</th>
		<th>D5</th>
		<th>D6</th>
		<th>D7</th>
		<th>Interval Type</th>
		<th>Interval Repeat</th>
		<th>Minutes</th>
		<th>Month Week Periodical</th>
		<th>Month Day Periodical</th>
		<th>Day Of Week</th>
		<th>Date Since</th>
		<th>Date Until</th>
		<th>Hour Since</th>
		<th>Hour Until</th>
		<th>Over Appointment</th>
		<th>Notes</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% for professional_scheduler in @professional_schedulers %>
		<tr>
			<td><%= professional_scheduler.professional_id %></td>
			<td><%= professional_scheduler.specialty_id %></td>
			<td><%= professional_scheduler.d1 %></td>
			<td><%= professional_scheduler.d2 %></td>
			<td><%= professional_scheduler.d3 %></td>
			<td><%= professional_scheduler.d4 %></td>
			<td><%= professional_scheduler.d5 %></td>
			<td><%= professional_scheduler.d6 %></td>
			<td><%= professional_scheduler.d7 %></td>
			<td><%= professional_scheduler.interval_type %></td>
			<td><%= professional_scheduler.interval_repeat %></td>
			<td><%= professional_scheduler.minutes %></td>
			<td><%= professional_scheduler.month_week_periodical %></td>
			<td><%= professional_scheduler.month_day_periodical %></td>
			<td><%= professional_scheduler.day_of_week %></td>
			<td><%= professional_scheduler.date_since %></td>
			<td><%= professional_scheduler.date_until %></td>
			<td><%= professional_scheduler.hour_since %></td>
			<td><%= professional_scheduler.hour_until %></td>
			<td><%= professional_scheduler.over_appointment %></td>
			<td><%= professional_scheduler.notes %></td>
			<td><%= link_to "Ver", professional_scheduler %></td>
			<td><%= link_to "Editar", edit_professional_scheduler_path(professional_scheduler) %></td>
			<td><%= link_to "Eliminar", professional_scheduler, :confirm => 'Esta seguro?', :method => :delete %></td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Professional Scheduler", new_professional_scheduler_path %></p>
