<%= form_for @person_email do |f| %>
	<% if @person_email.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@person_email.errors.count, "error") %> prohibido guardar Email de la Persona:</h2>
			<ul>
			<% @person_email.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<table class="data" style="width:100%" >
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :person_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :person_id %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :email_type_id %></strong></td>
			<td style="width:70%">
				<%= f.collection_select :email_type_id, EmailType.all, :id, :name %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :email %></strong></td>
			<td style="width:70%">
				<%= f.text_field :email %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :created_user_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :created_user_id %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :updated_user_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :updated_user_id %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :notes %></strong></td>
			<td style="width:70%">
				<%= f.text_field :notes %>
			</td>
		</tr>
	</table>
	<p><%= f.submit %></p>
<% end %>
