<h1>Emails de la Persona</h1>

<table>
	<tr>
		<th>Person</th>
		<th>Email Type</th>
		<th>Email</th>
		<th>Created User</th>
		<th>Updated User</th>
		<th>Notes</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% for person_email in @person_emails %>
		<tr>
			<td><%= person_email.person_id %></td>
			<td><%= person_email.email_type_id %></td>
			<td><%= person_email.email %></td>
			<td><%= person_email.created_user_id %></td>
			<td><%= person_email.updated_user_id %></td>
			<td><%= person_email.notes %></td>
            <td><a href="/person_emails/<%= person_email.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/person_emails/<%= person_email.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/person_emails/<%= person_email.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Email de la Persona", new_person_email_path %></p>
