<h1>Person Email</h1>
<p>
	<strong>Person:</strong>
	<%= @person_email.person_id %>
</p>
<p>
	<strong>Email Type:</strong>
	<%= @person_email.email_type_id %>
</p>
<p>
	<strong>Email:</strong>
	<%= @person_email.email %>
</p>
<p>
	<strong>Created User:</strong>
	<%= @person_email.created_user_id %>
</p>
<p>
	<strong>Updated User:</strong>
	<%= @person_email.updated_user_id %>
</p>
<p>
	<strong>Notes:</strong>
	<%= @person_email.notes %>
</p>
<p>
	<%= link_to "Editar", edit_person_email_path(@person_email) %> |
	<%= link_to "Eliminar", @person_email, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Person Emails", person_emails_path %>
</p>
