<%= form_for @attention_mode do |f| %>
	<% if @attention_mode.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@attention_mode.errors.count, "error") %> prohibido guardar Modo de Atención:</h2>
			<ul>
			<% @attention_mode.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :code %><br />
		<%= f.text_field :code %>
	</p>
	<p>
		<%= f.label :default %><br />
		<%= f.check_box :default %>
	</p>
	<p><%= f.submit %></p>
<% end %>
