<h1>Modo de Atención</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Name:</strong></td>
		<td style="width:70%"><%= @attention_mode.name %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Code:</strong></td>
		<td style="width:70%"><%= @attention_mode.code %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Default:</strong></td>
		<td style="width:70%"><%= @attention_mode.default %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_attention_mode_path(@attention_mode) %> |
	<%= link_to "Eliminar", @attention_mode, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Modos de Atención", attention_modes_path %>
</p>
