<h1>Monedas</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Code</th>
		<th>Default</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% for currency in @currencies %>
		<tr>
			<td><%= currency.name %></td>
			<td><%= currency.code %></td>
			<td><%= currency.default %></td>
			<td><%= link_to "Ver", currency %></td>
			<td><%= link_to "Editar", edit_currency_path(currency) %></td>
			<td><%= link_to "Eliminar", currency, :confirm => 'Esta seguro?', :method => :delete %></td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Moneda", new_currency_path %></p>
