<%= form_for @assistance_type do |f| %>
	<% if @assistance_type.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@assistance_type.errors.count, "error") %> prohibido guardar Tipo de Asistencia:</h2>
			<ul>
			<% @assistance_type.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<table class="data" style="width:100%" >
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :name %></strong></td>
			<td style="width:70%">
				<%= f.text_field :name %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :code %></strong></td>
			<td style="width:70%">
				<%= f.text_field :code %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :default %></strong></td>
			<td style="width:70%">
				<%= f.check_box :default %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :color %></strong></td>
			<td style="width:70%">
				<%= f.text_field :color %>
			</td>
		</tr>
	</table>
	<p><%= f.submit %></p>
<% end %>
