<h1>Tipos de Asistencia</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Code</th>
		<th>Default</th>
		<th>Color</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% for assistance_type in @assistance_types %>
		<tr>
			<td><%= assistance_type.name %></td>
			<td><%= assistance_type.code %></td>
			<td><%= check_box_tag "eula", assistance_type.default, assistance_type.default, :disabled => true %></td>
			<td><%= assistance_type.color %></td>
            <td><a href="/assistance_types/<%= assistance_type.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/assistance_types/<%= assistance_type.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/assistance_types/<%= assistance_type.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Tipo de Asistencia", new_assistance_type_path %></p>
