<h1>Assistance Type</h1>
<p>
	<strong>Company:</strong>
	<%= @assistance_type.company_id %>
</p>
<p>
	<strong>Name:</strong>
	<%= @assistance_type.name %>
</p>
<p>
	<strong>Code:</strong>
	<%= @assistance_type.code %>
</p>
<p>
	<strong>Default:</strong>
	<%= @assistance_type.default %>
</p>
<p>
	<strong>Color:</strong>
	<%= @assistance_type.color %>
</p>
<p>
	<%= link_to "Editar", edit_assistance_type_path(@assistance_type) %> |
	<%= link_to "Eliminar", @assistance_type, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Assistance Types", assistance_types_path %>
</p>
