<h1>Estados</h1>

<table>
	<tr>
		<th>Country</th>
		<th>Name</th>
		<th>Code</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% for state in @states %>
		<tr>
			<td><%= state.country_id %></td>
			<td><%= state.name %></td>
			<td><%= state.code %></td>
            <td><a href="/states/<%= state.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/states/<%= state.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/states/<%= state.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nueva Estado", new_state_path %></p>
