<h1>Especialidades</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Code</th>
		<th>Default</th>
		<th>Suspension Type</th>
		<th>Notes</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% for specialty in @specialties %>
		<tr>
			<td><%= specialty.name %></td>
			<td><%= specialty.code %></td>
			<td><%= check_box_tag "eula", specialty.default, specialty.default, :disabled => true %></td>
			<td><%= specialty.suspension_type_id %></td>
			<td><%= specialty.notes %></td>
            <td><a href="/specialties/<%= specialty.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/specialties/<%= specialty.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/specialties/<%= specialty.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nueva Especialidad", new_specialty_path %></p>
