<%= form_for @person_address do |f| %>
	<% if @person_address.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@person_address.errors.count, "error") %> prohibido guardar Domicilio de la Persona:</h2>
			<ul>
			<% @person_address.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<table class="data" style="width:100%" >
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :person_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :person_id %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :address_type_id %></strong></td>
			<td style="width:70%">
				<%= f.collection_select :address_type_id, AddressType.all, :id, :name %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :state_id %></strong></td>
			<td style="width:70%">
				<%= f.collection_select :state_id, State.all, :id, :name %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :street %></strong></td>
			<td style="width:70%">
				<%= f.text_field :street %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :floor %></strong></td>
			<td style="width:70%">
				<%= f.text_field :floor %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :dept %></strong></td>
			<td style="width:70%">
				<%= f.text_field :dept %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :ring %></strong></td>
			<td style="width:70%">
				<%= f.text_field :ring %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :postal_code %></strong></td>
			<td style="width:70%">
				<%= f.text_field :postal_code %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :created_user_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :created_user_id %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :updated_user_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :updated_user_id %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :notes %></strong></td>
			<td style="width:70%">
				<%= f.text_field :notes %>
			</td>
		</tr>
	</table>
	<p><%= f.submit %></p>
<% end %>
