<h1>Domicilios de la Persona</h1>

<table>
	<tr>
		<th>Person</th>
		<th>Address Type</th>
		<th>State</th>
		<th>Street</th>
		<th>Floor</th>
		<th>Dept</th>
		<th>Ring</th>
		<th>Postal Code</th>
		<th>Created User</th>
		<th>Updated User</th>
		<th>Notes</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% for person_address in @person_addresses %>
		<tr>
			<td><%= person_address.person_id %></td>
			<td><%= person_address.address_type_id %></td>
			<td><%= person_address.state_id %></td>
			<td><%= person_address.street %></td>
			<td><%= person_address.floor %></td>
			<td><%= person_address.dept %></td>
			<td><%= person_address.ring %></td>
			<td><%= person_address.postal_code %></td>
			<td><%= person_address.created_user_id %></td>
			<td><%= person_address.updated_user_id %></td>
			<td><%= person_address.notes %></td>
            <td><a href="/person_addresses/<%= person_address.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/person_addresses/<%= person_address.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/person_addresses/<%= person_address.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Domicilio de la Persona", new_person_address_path %></p>
