<h1>Domicilio de la Persona</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Person:</strong></td>
		<td style="width:70%"><%= @person_address.person_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Address Type:</strong></td>
		<td style="width:70%"><%= @person_address.address_type_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>State:</strong></td>
		<td style="width:70%"><%= @person_address.state_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Street:</strong></td>
		<td style="width:70%"><%= @person_address.street %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Floor:</strong></td>
		<td style="width:70%"><%= @person_address.floor %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Dept:</strong></td>
		<td style="width:70%"><%= @person_address.dept %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Ring:</strong></td>
		<td style="width:70%"><%= @person_address.ring %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Postal Code:</strong></td>
		<td style="width:70%"><%= @person_address.postal_code %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Created User:</strong></td>
		<td style="width:70%"><%= @person_address.created_user_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Updated User:</strong></td>
		<td style="width:70%"><%= @person_address.updated_user_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Notes:</strong></td>
		<td style="width:70%"><%= @person_address.notes %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_person_address_path(@person_address) %> |
	<%= link_to "Eliminar", @person_address, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Domicilios de la Persona", person_addresses_path %>
</p>
