- content_for(:title) do
  = @company.name.titlecase

- content_for(:breadcrumbs) do
  = breadcrumbs do |breadcrumb|
    - breadcrumb.item 'Administración de Companías', companies_path
    - breadcrumb.item 'Companía', company_path(@company)
    - breadcrumb.item "#{@company.name.titlecase}", company_path(@company), :active => true

- content_for(:controls) do
  = controls do |control|
    - control.item t('scaffold.actions.show').titlecase, @company, :icon => 'application_get'
    - control.item t('scaffold.actions.back').titlecase, companies_path, :icon => 'application_view_list'

= render 'form'

