<%= form_for @service_specialty do |f| %>
	<% if @service_specialty.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@service_specialty.errors.count, "error") %> prohibido guardar Especialidad por Servicio:</h2>
			<ul>
			<% @service_specialty.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<table class="data" style="width:100%" >
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :service_id %></strong></td>
			<td style="width:70%">
				<%= f.collection_select :service_id, Service.all, :id, :name, :include_blank => 'Sin datos' %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :name %></strong></td>
			<td style="width:70%">
				<%= f.text_field :name %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :specialty_id %></strong></td>
			<td style="width:70%">
				<%= f.collection_select :specialty_id, Specialty.all, :id, :name, :include_blank => 'Sin datos' %>
			</td>
		</tr>
	</table>
	<p><%= f.submit %></p>
<% end %>
