<%= form_for @service_specialty do |f| %>
	<% if @service_specialty.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@service_specialty.errors.count, "error") %> prohibido guardar service_specialty:</h2>

		<ul>
		<% @service_specialty.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
		</div>
	<% end %>
	<p>
		<%= f.label :service_id %><br />
		<%= f.collection_select :service_id, Service.all, :id, :name, :include_blank => 'Sin datos' %>
	</p>
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :specialty_id %><br />
		<%= f.collection_select :specialty_id, Specialty.all, :id, :name, :include_blank => 'Sin datos' %>
	</p>
	<p><%= f.submit %></p>
<% end %>
