<h1>Especialidad por Servicio</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Service:</strong></td>
		<td style="width:70%"><%= @service_specialty.service_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Name:</strong></td>
		<td style="width:70%"><%= @service_specialty.name %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Specialty:</strong></td>
		<td style="width:70%"><%= @service_specialty.specialty_id %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_service_specialty_path(@service_specialty) %> |
	<%= link_to "Eliminar", @service_specialty, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Especialidades por Servicio", service_specialties_path %>
</p>
