<%= form_for @person_phone do |f| %>
	<% if @person_phone.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@person_phone.errors.count, "error") %> prohibido guardar Teléfono de la Person:</h2>
			<ul>
			<% @person_phone.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<table class="data" style="width:100%" >
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :person_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :person_id %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :phone_type_id %></strong></td>
			<td style="width:70%">
				<%= f.collection_select :phone_type_id, PhoneType.all, :id, :name %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :phone_number %></strong></td>
			<td style="width:70%">
				<%= f.text_field :phone_number %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :created_user_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :created_user_id %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :updated_user_id %></strong></td>
			<td style="width:70%">
				<%= f.text_field :updated_user_id %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :notes %></strong></td>
			<td style="width:70%">
				<%= f.text_field :notes %>
			</td>
		</tr>
	</table>
	<p><%= f.submit %></p>
<% end %>
