<%= form_for @person_phone do |f| %>
	<% if @person_phone.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@person_phone.errors.count, "error") %> prohibido guardar person_phone:</h2>

		<ul>
		<% @person_phone.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
		</div>
	<% end %>
	<p>
		<%= f.label :person_id %><br />
		<%= f.text_field :person_id %>
	</p>
	<p>
		<%= f.label :phone_type_id %><br />
		<%= f.collection_select :phone_type_id, PhoneType.all, :id, :name %>
	</p>
	<p>
		<%= f.label :phone_number %><br />
		<%= f.text_field :phone_number %>
	</p>
	<p>
		<%= f.label :created_user_id %><br />
		<%= f.text_field :created_user_id %>
	</p>
	<p>
		<%= f.label :updated_user_id %><br />
		<%= f.text_field :updated_user_id %>
	</p>
	<p>
		<%= f.label :notes %><br />
		<%= f.text_field :notes %>
	</p>
	<p><%= f.submit %></p>
<% end %>
