<h1>Teléfonos de la Person</h1>

<table>
	<tr>
		<th>Person</th>
		<th>Phone Type</th>
		<th>Phone Number</th>
		<th>Created User</th>
		<th>Updated User</th>
		<th>Notes</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% for person_phone in @person_phones %>
		<tr>
			<td><%= person_phone.person_id %></td>
			<td><%= person_phone.phone_type_id %></td>
			<td><%= person_phone.phone_number %></td>
			<td><%= person_phone.created_user_id %></td>
			<td><%= person_phone.updated_user_id %></td>
			<td><%= person_phone.notes %></td>
            <td><a href="/person_phones/<%= person_phone.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/person_phones/<%= person_phone.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/person_phones/<%= person_phone.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Teléfono de la Person", new_person_phone_path %></p>
