<h1>Teléfono de la Person</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Person:</strong></td>
		<td style="width:70%"><%= @person_phone.person_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Phone Type:</strong></td>
		<td style="width:70%"><%= @person_phone.phone_type_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Phone Number:</strong></td>
		<td style="width:70%"><%= @person_phone.phone_number %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Created User:</strong></td>
		<td style="width:70%"><%= @person_phone.created_user_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Updated User:</strong></td>
		<td style="width:70%"><%= @person_phone.updated_user_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Notes:</strong></td>
		<td style="width:70%"><%= @person_phone.notes %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_person_phone_path(@person_phone) %> |
	<%= link_to "Eliminar", @person_phone, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Teléfonos de la Person", person_phones_path %>
</p>
