<h1>Tipo de Dirección</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Name:</strong></td>
		<td style="width:70%"><%= @address_type.name %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Code:</strong></td>
		<td style="width:70%"><%= @address_type.code %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Default:</strong></td>
		<td style="width:70%"><%= @address_type.default %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_address_type_path(@address_type) %> |
	<%= link_to "Eliminar", @address_type, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Tipos de Dirección", address_types_path %>
</p>
