<h1>Pacientes</h1>

<table>
	<tr>
		<th>Person</th>
		<th>Code</th>
		<th>Medical History</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% for patient in @patients %>
		<tr>
			<td><%= patient.person_id %></td>
			<td><%= patient.code %></td>
			<td><%= patient.medical_history %></td>
            <td><a href="/patients/<%= patient.id.to_s %>"><img alt="Ver" src="images/icons/16x16/application_get.png" title="Ver" /></a></td>
            <td><a href="/patients/<%= patient.id.to_s %>/edit"><img alt="Editar" src="images/icons/16x16/application_edit.png" title="Editar" /></a></td>
            <td><a href="/patients/<%= patient.id.to_s %>" data-confirm="Esta ud. seguro?" data-method="delete" rel="nofollow">
				<img alt="Eliminar" src="images/icons/16x16/application_delete.png" title="Eliminar" /></a>
			</td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nuevo Paciente", new_patient_path %></p>
