<h1>Paciente</h1>
<table class="data" style="width:50%">
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Person:</strong></td>
		<td style="width:70%"><%= @patient.person_id %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Code:</strong></td>
		<td style="width:70%"><%= @patient.code %></td>
	</tr>
	<tr>
		<td style="width:30%;background-color: #C3D5D5;"><strong>Medical History:</strong></td>
		<td style="width:70%"><%= @patient.medical_history %></td>
	</tr>
</table>
<p>
	<%= link_to "Editar", edit_patient_path(@patient) %> |
	<%= link_to "Eliminar", @patient, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Pacientes", patients_path %>
</p>
