= semantic_form_for @refenciacontable do |f|
  = f.semantic_errors

  = f.inputs do
    = f.input :account_id, :as => :select, :collection => current_company.accounts
    = f.input :referencename,:as => :select, :collection => Comprobante.referencias

  = f.buttons

