- content_for(:title) do
  %h1= t('scaffold.actions.list', :item => Refenciacontable.model_name.human).titlecase

%table
  %tr
    %th= Refenciacontable.human_attribute_name('company_id')
    %th= Refenciacontable.human_attribute_name('account_id')
    %th= Refenciacontable.human_attribute_name('referencename')
    %th
    %th
    %th

  - @refenciacontables.each do |refenciacontable|
    %tr
      %td= refenciacontable.company_id
      %td= refenciacontable.account_id
      %td= refenciacontable.referencename
      %td= link_to t('scaffold.actions.show').titlecase, refenciacontable
      %td= link_to t('scaffold.actions.edit').titlecase, edit_refenciacontable_path(refenciacontable)
      %td= link_to t('scaffold.actions.destroy').titlecase, refenciacontable, :confirm => t('scaffold.actions.destroy_confirm'), :method => :delete

%br

= link_to t('scaffold.actions.new', :item => Refenciacontable.model_name.human).titlecase, new_refenciacontable_path

