- content_for(:title) do
  %h1= [t('scaffold.actions.show'), Refenciacontable.model_name.human].join(' ')).titlecase

= semantic_attributes_for(@refenciacontable) do |s|
  = s.attributes(Refenciacontable.human_name + ' Info') do
    = s.attribute :company_id
    = s.attribute :account_id
    = s.attribute :referencename

= link_to t('scaffold.actions.edit').titlecase, edit_refenciacontable_path(@refenciacontable)
\|
= link_to t('scaffold.actions.back').titlecase, refenciacontables_path

