<%= form_for @health_insurance do |f| %>
	<% if @health_insurance.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@health_insurance.errors.count, "error") %> prohibido guardar Obra Social:</h2>
			<ul>
			<% @health_insurance.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<table class="data" style="width:100%" >
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :name %></strong></td>
			<td style="width:70%">
				<%= f.text_field :name %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :code %></strong></td>
			<td style="width:70%">
				<%= f.text_field :code %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :valid_until %></strong></td>
			<td style="width:70%">
				<%= f.text_field :valid_until, {:class => "dtPicker"} %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :is_particular %></strong></td>
			<td style="width:70%">
				<%= f.check_box :is_particular %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :is_beneficiary %></strong></td>
			<td style="width:70%">
				<%= f.check_box :is_beneficiary %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :notes %></strong></td>
			<td style="width:70%">
				<%= f.text_field :notes %>
			</td>
		</tr>
	</table>
	<p><%= f.submit %></p>
<% end %>
