<h1>Health Insurance</h1>
<p>
	<strong>Company:</strong>
	<%= @health_insurance.company_id %>
</p>
<p>
	<strong>Name:</strong>
	<%= @health_insurance.name %>
</p>
<p>
	<strong>Code:</strong>
	<%= @health_insurance.code %>
</p>
<p>
	<strong>Valid Until:</strong>
	<%= @health_insurance.valid_until %>
</p>
<p>
	<strong>Is Particular:</strong>
	<%= @health_insurance.is_particular %>
</p>
<p>
	<strong>Is Beneficiary:</strong>
	<%= @health_insurance.is_beneficiary %>
</p>
<p>
	<strong>Notes:</strong>
	<%= @health_insurance.notes %>
</p>
<p>
	<%= link_to "Editar", edit_health_insurance_path(@health_insurance) %> |
	<%= link_to "Eliminar", @health_insurance, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Health Insurances", health_insurances_path %>
</p>
