- content_for(:title) do
  %h1= t('scaffold.actions.list', :item => Country.model_name.human).titlecase

- content_for(:controls) do
  = controls do |c|
    - c.item "Nuevo", new_country_path, :icon => "add"
    - c.item "Exportar PDF", countries_path, :icon => "report_go"

%table
  %tr
    %th= Country.human_attribute_name('code')
    %th= Country.human_attribute_name('name')
    %th
    %th
    %th

  - @countries.each do |country|
    %tr
      %td= country.code
      %td= country.name
      %td= link_to icon('application_go', :small, :title => 'ver'), country
      %td= link_to icon('application_edit', :small, :title => 'editar'), edit_country_path(country)
      %td= link_to icon('application_delete', :small, :title => 'borrar'), country, :confirm => 'Esta ud. seguro?', :method => :delete
%br

