- content_for(:title) do
  %h1= t('scaffold.actions.list', :item => Province.model_name.human).titlecase

- content_for(:controls) do
  = controls do |c|
    - c.item "Nuevo", new_province_path, :icon => "add"
    - c.item "Exportar PDF", provinces_path, :icon => "report_go"

%table
  %tr
    %th= Province.human_attribute_name('code')
    %th= Province.human_attribute_name('name')
    %th= Province.human_attribute_name('country_id')
    %th
    %th
    %th

  - @provinces.each do |province|
    %tr
      %td= province.code
      %td= province.name
      %td= province.country.name
      %td= link_to icon('application_go', :small, :title => 'ver'), province
      %td= link_to icon('application_edit', :small, :title => 'editar'), edit_province_path(province)
      %td= link_to icon('application_delete', :small, :title => 'borrar'), province, :confirm => 'Esta ud. seguro?', :method => :delete

%br

