<%= form_for @health_insurance_plan do |f| %>
	<% if @health_insurance_plan.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@health_insurance_plan.errors.count, "error") %> prohibido guardar Plan de la Obra Social:</h2>
			<ul>
			<% @health_insurance_plan.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<table class="data" style="width:100%" >
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :health_insurance_id %></strong></td>
			<td style="width:70%">
				<%= f.collection_select :health_insurance_id, HealthInsurance.all, :id, :name %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :name %></strong></td>
			<td style="width:70%">
				<%= f.text_field :name %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :code %></strong></td>
			<td style="width:70%">
				<%= f.text_field :code %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :valid_since %></strong></td>
			<td style="width:70%">
				<%= f.text_field :valid_since, {:class => "dtPicker"} %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :valid_until %></strong></td>
			<td style="width:70%">
				<%= f.text_field :valid_until, {:class => "dtPicker"} %>
			</td>
		</tr>
		<tr>
			<td style="width:30%;background-color: #C3D5D5;"><strong><%= f.label :operative_mode %></strong></td>
			<td style="width:70%">
				<%= f.text_field :operative_mode %>
			</td>
		</tr>
	</table>
	<p><%= f.submit %></p>
<% end %>
