- content_for(:title) do
  %h1= t('scaffold.actions.list', :item => Product.model_name.human).titlecase

- content_for(:controls) do
  = controls do |c|
    - c.item "Nuevo", new_product_path, :icon => "add"
    - c.item "Exportar PDF", products_path, :icon => "report_go"


= render 'filtros'

- content_for(:breadcrumbs) do
  = breadcrumbs do |b|
    - b.item "Principal", root_path
    - b.item "Productos", products_path, :active => true

%table
  %tr
    %th= Product.human_attribute_name('name')
    %th= Product.human_attribute_name('observation')
    %th= Product.human_attribute_name('since')
    %th= Product.human_attribute_name('until')
    %th= Product.human_attribute_name('tasaiva_id')
    %th= Product.human_attribute_name('account_id')
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.observation
      %td= product.since
      %td= product.until
      %td= product.tasaiva.try(:detalle)
      %td= product.account.try(:name)
      %td= link_to icon('application_go', :small, :title => 'ver'), product
      %td= link_to icon('application_edit', :small, :title => 'editar'), edit_product_path(product)
      %td= link_to icon('application_delete', :small, :title => 'borrar'), product, :confirm => 'Esta ud. seguro?', :method => :delete

= paginate @products
%br
%br
