- content_for(:title) do
  %h1= [t('scaffold.actions.show'), Product.model_name.human].join(' ').titlecase

- content_for(:controls) do
  = controls do |control|
    - control.item t('scaffold.actions.edit').titlecase, edit_product_path(@product), :icon => 'application_edit'
    - control.item t('scaffold.actions.back').titlecase, :back, :icon => 'application_view_list'

= semantic_attributes_for(@product) do |s|
  = s.attributes(Product.human_name + ' Info') do
    = s.attribute :name
    = s.attribute :observation
    = s.attribute :company_id, :value => @product.try( :company ).try(:name)
    = s.attribute :since
    = s.attribute :until
    = s.attribute :tasaiva_id, :value => @product.try( :tasaiva ).try(:name)
    = s.attribute :account_id, :value => @product.try( :account ).try(:name)

.clear